{#
/**
 * @file
 *
 * Default event template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered download fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <a href="{{ url }}"{{ link_attributes }}>{{- content.title -}}</a>
  {{- content|without('title') -}}
</article>
